<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        {% if title %}
        <title>{{ title }} - AIR Claims Demo</title>
        {% else %}
        <title>Welcome to AIR Claims Demo</title>
        {% endif %}
    </head>
    <body>
        <div>AIR Claims Demo: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>