{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% if insured == current_user %}
        <p><a href="{{ url_for('edit_dependent_profile') }}">Add dependent or edit a dependent's profile</a></p>
        {% endif %}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}<br>
            {% for error in form.first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.middle_name.label }}<br>
            {{ form.middle_name(size=32) }}<br>
            {% for error in form.middle_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}<br>
            {% for error in form.last_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.test.label }}<br>
            {{ form.test(size=15) }}<br>
            {% for error in form.test.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.gender.label }}<br>
            {{ form.gender}}<br>
            {% for error in form.gender.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date_of_birth.label }}<br>
            {{ form.date_of_birth(size=10) }}<br>
            {% for error in form.date_of_birth.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.air_id.label }}<br>
            {{ form.air_id(size=20) }}<br>
            {% for error in form.air_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mailing_street.label }}<br>
            {{ form.mailing_street(size=32) }}<br>
            {% for error in form.mailing_street.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mailing_optional.label }}<br>
            {{ form.mailing_optional(size=32) }}<br>
            {% for error in form.mailing_optional.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mailing_city.label }}<br>
            {{ form.mailing_city(size=20) }}<br>
            {% for error in form.mailing_city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mailing_state.label }}<br>
            {{ form.mailing_state(size=20) }}<br>
            {% for error in form.mailing_state.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mailing_zip.label }}<br>
            {{ form.mailing_zip(size=20) }}<br>
            {% for error in form.mailing_zip.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mailing_country.label }}<br>
            {{ form.mailing_country(size=20) }}<br>
            {% for error in form.mailing_country.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.residence_country.label }}<br>
            {{ form.residence_country(size=20) }}<br>
            {% for error in form.residence_country.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.foreign_currency_default.label }}<br>
            {{ form.foreign_currency_default(size=20) }}<br>
            {% for error in form.foreign_currency_default.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.other_coverage.label }}<br>
            {{ form.other_coverage}}<br>
            {% for error in form.other_coverage.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.other_insurance_co.label }}<br>
            {{ form.other_insurance_co(size=32) }}<br>
            {% for error in form.other_insurance_co.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.other_plan_name.label }}<br>
            {{ form.other_plan_name(size=32) }}<br>
            {% for error in form.other_plan_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.other_plan_id.label }}<br>
            {{ form.other_plan_id(size=20) }}<br>
            {% for error in form.other_plan_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.medicare_part_a.label }}<br>
            {{ form.medicare_part_a }}<br>
            {% for error in form.medicare_part_a.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.medicare_part_b.label }}<br>
            {{ form.medicare_part_b }}<br>
            {% for error in form.medicare_part_b.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.medicare_id.label }}<br>
            {{ form.medicare_id(size=32) }}<br>
            {% for error in form.medicare_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.full_time_student.label }}<br>
            {{ form.full_time_student }}<br>
            {% for error in form.full_time_student.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.string_test.label }}<br>
            {{ form.string_test }}<br>
            {% for error in form.string_test.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}